.qf:after{ content:"";display:block;clear:both}
*{margin:0;padding:0;}
body {background: #fff;}

.CourseDetails{width: 100%;margin: 0;padding: 0;}
.headerDetails{width:100%;height:413px;background: #2f3441;}
.headerContent{width:1200px;height:100%;margin: 0 auto;}
.headerContent .breadcrumb{width:1200px;height:88px;display:flex;justify-content:flex-start; align-items : center;}
.breadcrumb>p{color:#a8a9b0;margin-left:5px;}
.breadcrumb>p:first-child{margin-left:0;}
.breadcrumb>p>a{display: block;color:#a8a9b0;}
.headerContent>ul{width:100%;}
.headerContent>ul>li{float: left;}
.headerContent>ul>li:first-child img{width:400px;height:280px;}
.headerContent>ul>li:last-child{margin-left: 50px;margin-top: 5px;}
.headerContent>ul>li:last-child h1{color:#fff;font-size: 30px;}
.headerContent>ul>li:last-child p{color:#a8a9b0;font-size: 15px;margin-top: 19px;}
.headerContent>ul>li:last-child>div:nth-child(3){margin-top: 28px;}
.headerContent>ul>li:last-child>div:nth-child(3)>span:first-child{color:#fff;font-size: 16px;}
.headerContent>ul>li:last-child>div:nth-child(3)>img{width: 18px;height:20px;margin-left: 30px;}
.headerContent>ul>li:last-child>div:nth-child(3)>span:last-child{color:#fff;font-size: 16px;margin-left: 8px;}
.headerContent>ul>li:last-child h2{color:#fff;font-size: 16px;margin-top: 14px;}
.headerContent>ul>li:last-child h3{color:#ff5722;font-size: 30px;margin-top: 14px;}
.headerContent>ul>li:last-child>div:nth-child(6){width:153px;height:40px;line-height:40px;text-align:left;border-radius: 20px;
    background: #ff5722;margin-top: 40px;}
.headerContent>ul>li:last-child>div:nth-child(6):hover{cursor: pointer;}
.headerContent>ul>li:last-child>div:nth-child(6)>img{float:left;margin-top: 10px;margin-left: 20px;margin-right: 10px;}
.headerContent>ul>li:last-child>div:nth-child(6)>div{float:left;height:40px;line-height:40px;font-size:18px;color: #fff;}

.middleDetails{width:1200px;min-height: 1500px;margin: 0 auto;margin-top:26px;}
.middleDetails_content{float: left;width:903px;height:100%;}
.middleDetails .middleDetailsNav{width: 100%;height:50px;background: #fff5f2;}
.middleDetails .middleDetailsNav a{font-size: 18px;color:#333;height:50px;line-height: 50px;}
.middleDetails .middleDetailsNav a:first-child{margin-left: 30px;}
.middleDetails .middleDetailsNav a:last-child{margin-left: 55px;}

.middleDetails_right{float: left;width:297px;min-height:1500px;}




.CourseDetailsFirst{width:884px;min-height:1500px;margin-top: 42px;margin-left: 19px;
    border-left: 1px solid #999;margin-bottom: 30px;}
.part>div:first-child{position: relative;}
.part>div:first-child img{position: absolute;left:-20px;top:-5px;}
.part>div:first-child h1{font-size: 24px;margin-left: 44px;color:#ff5722;}
.part1>div:nth-child(2){width: 839px;height:103px;line-height:33px;
    box-sizing: border-box;border: 1px dashed #ff5722;padding: 20px;margin-left:44px;margin-top:40px;background: #f7f7f7;overflow: hidden;}
.part1>p{font-size:15px;color:#666; margin-top: 15px;margin-left: 44px;}
.part1>p:nth-child(3){margin-top: 28px;}
.part1>p>span{color:#333;font-weight: bold;}
.part1>ul{margin-top: 30px;margin-left:44px; }
.part1>ul li{float: left;}
.part1>ul li:first-child>button{font-size:18px;color:#fff; width:126px;height:44px;border: none;outline: none;background:#ff5722; }
.part1>ul li:first-child>button:hover{cursor: pointer;}
.part1>ul li:nth-child(2)>img{margin-left: 24px;margin-top:10px;}
.part1>ul li:last-child{margin-top: 10px;}
.part1>ul li:last-child>p{margin-left: 18px;font-size:24px;color: #ff5722;}
.part2{margin-top: 65px;}
.part2>ul{margin-left: 44px;}
.part2>ul li:first-child img{margin-top: 32px;}
.part2>ul li>h1{height:17px;line-height:17px;border-left: 4px solid #ff5722;font-size:18px;
    padding-left: 10px;margin-top:39px;font-weight: bold;}
.part2>ul li>p{line-height: 28px;margin-top:25px;color:#666;}
.part2>ul li>p span{color:#333;}
.part2>ul li:last-child img{margin-top: 30px;}

.part3{margin-top: 65px;}
.part3>ul{margin-left: 44px;}
.part3>ul li>h1{height:17px;line-height:17px;border-left: 4px solid #ff5722;font-size:18px;
    padding-left: 10px;margin-top:39px;font-weight: bold;}
.part3>ul li>p{line-height: 28px;margin-top:25px;color:#666;}


/* 右侧区域 */
/* 右侧公共区域 */
.fr_content {
    width: 297px;
    padding-left: 24px;
    box-sizing: border-box;
    float: left;
}

.fr_content .reserveKc {
    padding: 25px 15px;
    border: 5px solid #ddd;
    border-image: -webkit-linear-gradient(#ff5722, #fed16c) 1 1;
    border-image: -moz-linear-gradient(#ff5722, #fed16c) 1 1;
    border-image: -o-linear-gradient(#ff5722, #fed16c) 1 1;
    border-image: linear-gradient(#ff5722, #fed16c) 1 1;
}

.fr_content .reserveKc .title {
    display: flex;
    align-items: center;
}

.fr_content .reserveKc .title .text {
    background: linear-gradient(to top, #ff5722, #fed16c);
    -webkit-background-clip: text;
    color: transparent;
    padding-left: 10px;
    font-size: 24px;
    display: inline-block;
    height: 30px;
}

.fr_content .reserveKc .content>div {
    position: relative;
    margin-bottom: 16px;
}

.fr_content .reserveKc label {
    position: absolute;
    z-index: 100;
    left: 10px;
    top: 10px;
    font-size: 16px;
    color: #666666;
    font-weight: normal;
}

.fr_content .reserveKc input {
    border: 1px solid #e6e6e6;
    width: 239px;
    height: 37px;
    position: relative;
    padding-left: 40px;
    box-sizing: border-box;
}

.fr_content .reserveKc textarea {
    border: 1px solid #e6e6e6;
    width: 239px;
    outline: none;
    padding-left: 50px;
    padding-top: 10px;
    box-sizing: border-box;
}

.fr_content .reserveKc .btn {
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: white;
    text-align: center;
    background-color: #ff5722;
    border: none;
    outline: none;
    cursor: pointer;
}

.fr_content .hot {
    margin-top: 34px;
    padding-bottom: 30px;
}

.fr_content .hot .hot_title {
    color: #ff5722;
    border-bottom: 2px solid #ff5722;
    padding-bottom: 13px;
}

.fr_content .hot .hot_title .iconfont {
    font-size: 25px;
}

.fr_content .hot .hot_title span:nth-child(2) {
    font-size: 20px;
}

.fr_content .hot .hot_title span:nth-child(3) {
    font-size: 14px;
    float: right;
}

.fr_content .hot .hot_centent {
    padding-top: 23px;
    padding-left: 10px;
}

.fr_content .hot .hot_centent img {
    width: 256px;
    height: 115px;
}

.fr_content .hot .hot_centent ul {
    padding-left: 24px;
    padding-right: 24px;
}

.fr_content .hot .hot_centent ul li {
    line-height: 36px;
    font-size: 15px;
    color: #666666;
}

.fr_content .hot .hot_centent ul li span:last-child {
    padding-left: 20px;
}