.qf:after{ content:"";display:block;clear:both}
*{margin:0;padding:0;}
body {background: #fff;}

.CourseDetails{width: 100%;margin: 0;padding: 0;}
.headerDetails{width:100%;height:413px;background: #2f3441;}
.headerContent{width:1200px;height:100%;margin: 0 auto;}
.headerContent .breadcrumbs{width:1200px;height:88px;display:flex;justify-content:flex-start;
    align-items : center;}
.headerContent .breadcrumbs>p{color:#a8a9b0;margin-left:5px;}
.headerContent .breadcrumbs>p:first-child{margin-left:0;}
.headerContent .breadcrumbs>p>a{display: block;color:#a8a9b0;}
.headerContent>ul{width:100%;}
.headerContent>ul>li{float: left;}
.headerContent>ul>li:first-child img{width:400px;height:280px;}
.headerContent>ul>li:last-child{margin-left: 50px;margin-top: 5px;}
.headerContent>ul>li:last-child h1{color:#fff;font-size: 30px;}
.headerContent>ul>li:last-child p{color:#a8a9b0;font-size: 15px;margin-top: 19px;}
.headerContent>ul>li:last-child>div:nth-child(3){margin-top: 28px;}
.headerContent>ul>li:last-child>div:nth-child(3)>span:first-child{color:#fff;font-size: 16px;}
.headerContent>ul>li:last-child>div:nth-child(3)>img{width: 18px;height:20px;margin-left: 30px;}
.headerContent>ul>li:last-child>div:nth-child(3)>span:last-child{color:#fff;font-size: 16px;margin-left: 8px;}
.headerContent>ul>li:last-child h2{color:#fff;font-size: 16px;margin-top: 14px;}
.headerContent>ul>li:last-child h3{color:#ff5722;font-size: 30px;margin-top: 14px;}
.headerContent>ul>li:last-child>div:nth-child(6){width:153px;height:40px;line-height:40px;text-align:left;border-radius: 20px;
    background: #ff5722;margin-top: 40px;}
.headerContent>ul>li:last-child>div:nth-child(6):hover{cursor: pointer;}
.headerContent>ul>li:last-child>div:nth-child(6)>img{float:left;margin-top: 10px;margin-left: 20px;margin-right: 10px;}
.headerContent>ul>li:last-child>div:nth-child(6)>div{float:left;height:40px;line-height:40px;font-size:18px;color: #fff;}

.middleDetails{width:1200px;min-height: 1500px;margin: 0 auto;margin-top:26px;}
.middleDetails_content{float: left;width:903px;height:100%;}
.middleDetails .middleDetailsNav{width: 100%;height:50px;background: #fff5f2;}
.middleDetails .middleDetailsNav a{font-size: 18px;color:#333;height:50px;line-height: 50px;}
.middleDetails .middleDetailsNav a:first-child{margin-left: 30px;}
.middleDetails .middleDetailsNav a:last-child{margin-left: 55px;}

.middleDetails_right{float: left;width:297px;min-height:1500px;}






.CourseAnswers{width: 100%;margin: 0;padding: 0;}
.answers{margin-top: 45px;width:100%;}
.answers>ul{width:100%;height:200px;border: 1px solid #d9d9d9;position: relative;margin-top:33px;}
.answers>ul:first-child{margin-top: 0;}
.answers>ul:nth-child(even){box-shadow: 2px 2px 5px #999;}
.answers>ul li:first-child{float: left;width:170px;height:100%;text-align: center;margin-top:27px; }
.answers>ul li:first-child img{width: 108px;height:108px;border: 2px solid #d9d9d9;border-radius: 50%;box-sizing: border-box;}
.answers>ul li:first-child p{margin-top: 10px;}
.answers>ul li:nth-child(2){float: left;width:720px;height:100%;}
.answers>ul li:nth-child(2)>div:first-child{width:100%;margin-top:33px; font-size: 18px;color:#666;}
.answers>ul li:nth-child(2)>div:first-child>span{color:#ff5722;}
.answers>ul li:nth-child(2)>div:last-child{width:100%;height:145px;margin-top:23px; font-size: 15px;color:#666;overflow:hidden;text-overflow:ellipsis;line-height: 25px;}
.answers>ul li:nth-child(2)>div:last-child>span{color:#568cec;}
.answers>ul li:nth-child(3){position: absolute;bottom:20px;right:30px;}




